onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=cpu-features
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=ssh2
